/*
.row {
    margin-left: 0!important;
    margin-right: 0!important;
}
*/
a {
    color: #FC7A57!important;
}

.box {
    border: solid 3px #2a415e;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
}

.share-box {
    border: solid 3px #2a415e;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
}

a.btn.btn-default, button.btn.btn-default {
    background-color: #FC7A57;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 100%;
}

.share-button {
    width: 35%;
    margin: 10px 5px;;
}

.padding-top-0-5em {
    padding-top: 0.5em;
}

.padding-bottom-0-5em {
    padding-bottom: 0.5em;
}

.padding-top-0-5em {
    padding-top: 0.5em;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}

.padding-top-1em {
    padding-top: 1em;
}

.padding-top-2em {
    padding-top: 2em;
}

.height-15em {
    height: 15em;
}

nav.navbar.navbar-default {
    background-color: #2a415e;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: white!important;
}

.logo {
    margin-top: -4px;
    width: 5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: block;
}

/* Form Styles */
::-webkit-input-placeholder {
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 300;
}
:-ms-input-placeholder {
    font-weight: 300;
}

input, textarea {
    border: solid 3px #2a415e;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    width: 100%;
}

label {
    width: 100%;
}

textarea {
    height: 15em;
}

.button-icon {
    background: none;
    border: none;
}

.label-div-icon {
    position: relative;
    width: 5%;
    margin-left: auto;
    margin-bottom: -2em;
}

.label-icon {
    margin-left: auto;
    display: block;
}

#label-list {
    display: none;
}

#label-list.box {
    width: 8em;
    position: absolute;
    z-index: 1;
    margin-top: 0.5em;
    background-color: #f5f5f5;
    margin-left: -5.5em;
}

.share-icon {
    margin-left: auto;
    display: block;
}

#share-list {
    display: none;
}

#share-list.share-box {
    width: 10em;
    position: absolute;
    z-index: 100;
    margin-top: -13.9em;
    background-color: #f5f5f5;
    margin-left: -10.5em;
}

button.button-icon:focus {
    outline: none;
}

span.label-name {
    border-radius: 7px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #2a415e;
    color: white;
}

.width-50p {
    width: 50%;
}

.width-2-5em {
    width: 2.5em;
}

.boxfot {
    border: solid 3px #2a415e;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 3px;
    border-radius: 7px;
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
h3{
    font-size: 25px;
}
.container-fluid1 {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

.width-90p {
    width: 90%;
}

.float-right {
  float: right;
}

.width-100p {
    width: 100%;
}

.margin-top-5pt {
   margin-top: 5pt;
}

.well1{
    min-height: 20px;
    max-height: 234px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    overflow: scroll;
}

.homepage-blue-area {
    background-color: #ECF1EF;
    color: black;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.homepage-highlighted-area {
    background-color: #FC7A57;
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
/text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 44px rgba(0,0,0,.5);
}


.homepage-white-area {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.homepage-white-area input {
    width: 20em;
    color: black;
}

.margin-top-5em {
    margin-top: 5em;
}