<!DOCTYPE html>

<html>
    <head>
        <title>PICO</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("lib/immutable/immutable.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/react/react.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/react/JSXTransformer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/fluxxor/fluxxor.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/react-router/ReactRouter.js")" type="text/javascript"></script>

        @*Actions*@
        <script src="@routes.Assets.versioned("javascripts/actions/todo.js")" type="text/javascript"></script>

        @*Stores*@
        <script src="@routes.Assets.versioned("javascripts/stores/todo.js")" type="text/javascript"></script>

        @*Components*@
        <script src="@routes.Assets.versioned("javascripts/components/app.js")" type="text/jsx"></script>
        <script src="@routes.Assets.versioned("javascripts/components/notfound.js")" type="text/jsx"></script>
        <script src="@routes.Assets.versioned("javascripts/components/home.js")" type="text/jsx"></script>
        <script src="@routes.Assets.versioned("javascripts/components/test.js")" type="text/jsx"></script>

        @*Load and Start React*@
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/jsx"></script>
    </head>
    <body>
    </body>
</html>
